{% load static %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="https://images.unsplash.com/photo-1615516042934-3324d4c9f928?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>Who are we?</h3>
          <p class="fst-italic">
            We are an IT support company comprised of professional IT specialists and Skilled Project Technicians who make up the company's core team.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i>We fix immediate IT problems and implement preventive measures against future problems</li>
            <li><i class="ri-check-double-line"></i>We sell all computing,networking and surveillance equipment and software</li>
            <li><i class="ri-check-double-line"></i>We install and configure software,devices and machines to suite the functioning of businesses and organizations.</li>
          </ul>
          <p>
           We do create an IT strategy for your company that works in tandem with your business strategy. Our services are not just about fixing tech stuff but are intelligent IT solutions to your current and future business needs. We aim to boost your efficiency and productivity, giving you higher earnings and higher client satisfaction.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->