  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <!-- <h3>Call To Action</h3> -->
        <strong><p style="font-size: 20px;"> “The advance of technology is based on making it fit in so that you don't really even notice it, so it's part of everyday life.”</p>
        </strong>
        <p><span><i><b>Bill Gates,</b>cofounder Microsoft</i></span></p>
        <!-- <a class="cta-btn" href="#">Call To Action</a> -->
      </div>

    </div>
  </section><!-- End Cta Section -->