{% load static %}
<!-- ======= Clients Section ======= -->
<br>
<br>
<br>
<section id="clients" class="clients">
  <div class="container" data-aos="zoom-in">

    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/jetlak-foods-logo-stacked.png' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/oshwalLogo.jpg' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/silpack.png' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/thika.png' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/applesandsense.png' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/bpl.png' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/tilisi.svg' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/nei.png' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/nabico.png' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/clients/dune.jpg' %}" class="img-fluid" alt=""></div>

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Clients Section -->