{% include 'head.html' %}
{% include 'scripts.html' %}
{% load static %}
<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>The</h2>
        <p>IT Support Team</p>
      </div>
      <a href="{% url 'home' %}" class="get-started-btn2 scrollto">Go Back</a>
      <br>
      <br>
      <br>
      <div class="row">

        <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'assets/img/team/male-placeholder-image.jpeg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Wycliffe Makovo</h4>
              <span>IT</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'assets/img/team/male-placeholder-image.jpeg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Mihir Patel</h4>
              <span>IT</span>
            </div>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'assets/img/team/male-placeholder-image.jpeg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Amos</h4>
              <span>IT</span>
            </div>
          </div>
        </div>

        
        <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'assets/img/team/male-placeholder-image.jpeg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Gilbert</h4>
              <span>IT</span>
            </div>
          </div>
        </div>
        

      </div>

    </div>
  </section><!-- End Team Section -->