  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>What do we offer?</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Sales <br></a></h4>
            <p>We do supply a range of products to various clients. Ranging from servers, computers, computing equipment and accessories, CCTV cameras, Access control, Networking equipment and so much more. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">IT Support<br></a></h4>
            <p>We do provide clients with solutions to problems they may be experiencing. This may be more than just assistance. It can encompass installation, configuration, and setting up of equipment. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">CCTV Services</a></h4>
            <p>We intergrate systems that allow you to keep an eye on what's going on in and around your business with cameras and monitors that enable you to view events live, and recorders which archive footage for later reference.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Access Control Points</a></h4>
            <p>We do offer access control point intergation, into homes and businesses, helping you to dictate who has allowed access to what sections of your organization and also a way to keep track of who accessed what and at what time. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Installation/Configuration</a></h4>
            <p>Got new or existing devices or software that need to be setup. Worry no more. We will configure the systems or programs to be ready for execution in you business. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Maintanance & Repair<br></a></h4>
            <p>We do repairs on faulty devices at our workshop. Send in your faulty devices and leave it to our team of professionals to get it back to life.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->