{% load static %}
<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Team</h2>
        <p>Check our Team</p>
      </div>
      <div class="row">
        <div class=" col-md-3 col-lg-2 ">
          <div class="card text-center" style="width: 200px; height: 200px; padding-top: 60px;">
            <!-- <i class="fa-regular fa-head-side-brain"></i> -->
            <br>
              <h3><a href="{% url 'directors' %}" >Directors</a></h3>
          </div>
        </div>
        <br>
        <div class=" col-md-3">
          <div class="card text-center" style="width: 200px; height: 200px; padding-top: 60px;">
            <!-- <i class="ri-bar-chart-box-line"></i> -->
            <br>
            <h3><a href="{% url 'IT' %}">IT</a></h3>
          </div>
        </div>
        <div class=" col-md-3">
          <div class="card text-center" style="width: 200px; height: 200px; padding-top: 60px;">
            <!-- <i class="ri-calendar-todo-line"></i> -->
            <br>
            <h3><a href="{% url 'projects' %}">Projects</a></h3>
          </div>
        </div>
        <div class=" col-md-3">
          <div class="card text-center" style="width: 200px; height: 200px; padding-top: 60px;">
            <!-- <i class="ri-calendar-todo-line"></i> -->
            <br>
            <h3><a href="{% url 'transport' %}">Transport</a></h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->